*{
	margin: 0;
	padding: 0;
}

#imagegallery li{
            display: inline;
            list-style-type: none;
        }

#container{
            width:100%;
            height:100%;
            position:absolute;
            left:0px;
            top:0px;
            z-index:-1;
        }

.img{
	width: 350px;
	height: 265px;
	margin-left: 20px;
}

body { 
		margin: 0px;
		padding: 0px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background-color: #ffffff;
		color: #bbbbbb;
	 }
	 
.table_details .td_label, .table_details td.td_label {
    width: 110px;
}

.table_details .keep_line {
    white-space: nowrap;
}

.table_details th, .table_details td {
    # white-space: normal;
    text-align: left;
    line-height: 22px;
    padding: 0 10px;
}

.limit_sale td {
    # padding: 0 15px;
}

.table_bg001 td, .table_bg001 th {
    height: 30px;
    border-right: 1px solid #e1e1e2;
    # padding: 0 5px;
    # white-space: nowrap;
    overflow: hidden;
}

.td_label {
    # text-align: left;
    font-weight: bold;
}

.keep_line {
    # white-space: nowrap;
}

table, td, tr, th {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.table_bg001 {
    color: #666;
    # text-align: right;
}

table {
    display: table;
    # border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}


.table_bg001 .dbrow td {
    background-color: #f2f2f2;
}


